In [11]:
import pandas as pd

In [58]:
df = pd.read_csv('opi.csv', delimiter=';')

In [59]:
df

    id        language           level
0    1         deutsch               S
1    2         deutsch              AH
2    3         deutsch               S
3    4         deutsch              AM
4    5         deutsch              AH
5    6         deutsch              AH
6    7         deutsch               S
7    8         deutsch               S
8    9       armenisch              AL
9   10        russisch              AL
10  11         deutsch              AH
11  12         deutsch              AH
12  13         deutsch  OPIabgebrochen
13  14         deutsch              AH
14  15         deutsch               S
15  16         deutsch              AH
16  17         deutsch              AH
17  18            k.A.         keinOPI
18  19         deutsch              AH
19  20   igbo|englisch              IH
20  21        spanisch              AM
21  22  malinke|dioula              IM
22  23         deutsch               S
23  24         deutsch              AH
24  25         deutsch              AH
25  26         deutsch              AH
26  27       rumänisch               S
27  28        arabisch              AM
28  29        polnisch              AH

In [72]:
df.describe()

              id
count  29.000000
mean   15.000000
std     8.514693
min     1.000000
25%     8.000000
50%    15.000000
75%    22.000000
max    29.000000

In [60]:
S = df[df.level == 'S']

In [75]:
S.count()

id          7
language    7
level       7
dtype: int64

In [73]:
S[S.language == 'deutsch'].count()

id          6
language    6
level       6
dtype: int64

In [62]:
AH = df[df.level == 'AH']

In [79]:
AH.count()

id          13
language    13
level       13
dtype: int64

In [76]:
AH[AH.language == 'deutsch'].count()

id          12
language    12
level       12
dtype: int64

In [64]:
AM = df[df.level == 'AM' ]

In [65]:
print(AM)

    id  language level
3    4   deutsch    AM
20  21  spanisch    AM
27  28  arabisch    AM

In [66]:
AL = df[df.level == 'AL' ]

In [67]:
print(AL)

   id   language level
8   9  armenisch    AL
9  10   russisch    AL

In [68]:
IH = df[df.level == 'IH']

In [69]:
print(IH)

    id       language level
19  20  igbo|englisch    IH

In [70]:
IM = df[df.level == 'IM']

In [71]:
print(IM)

    id        language level
21  22  malinke|dioula    IM